@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #0f172a;
}

.ProseMirror {
  outline: none;
  min-height: 80vh;
  color: #0f172a !important; 
  font-size: 1.1rem;
  line-height: 1.7;
  padding: 10px;
}

.ProseMirror p {
  margin-bottom: 1rem;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

body {
  background-color: #f1f5f9;
  color: #0f172a;
}